* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
}

p {
font-size: 1.6rem;
text-align: center;
}

h1 {
  font-size: 4.0rem;
  font-family: "Roboto";
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
}

h3

h5 {
  font-size: 1.6rem;
}

.container {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: #1B1D29;
  width: 100%;

}

.hero {
  width: 100%:

}

.img {
  background-image: url(assets/portfoliohero.jpg);
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .img {
    background-image: url(assets/portfoliohero.jpg);
  }
}

.herocontent{
  display: inline-block;
  font-family: "Nunito";

}

.casestudiesheadline{
  background-color: #000000:
  display: inline-block;
}
